{% extends "base.html.twig" %}

{% block title %}Livre d'or{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/alert.css')}}">
	<link rel="stylesheet" href="{{asset('css/form.css')}}">
	<link rel="stylesheet" href="{{asset('css/guestbook.css')}}">
{% endblock %}

{% block scripts %}
	<script src="{{asset('js/close-alert.js')}}" defer></script>
{% endblock %}

{% block body %}
	<div class="container">
		{# Comment list #}
		<section>
			<h1>Livre d'or</h1>
			<ul class="comment-list">
				{% if comments is empty %}
					<div class="no-comment">
						Aucun commentaire...<br>
						pour l'instant.
					</div>
				{% else %}
					{% for comment in comments %}
						<li class="comment">
							<div class="header">
								{{comment.author}} •
								<i>le {{comment.date}}</i>
							</div>
							<p>{{comment.message}}</p>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		</section>

		{# Aside menu #}
		<aside>
			{# Comment thank message #}
			{% if hasCommented %}
				<div class="alert alert-success">
					<span>
						Merci pour votre commentaire !
					</span>

					<button class="close" title="Fermer">
						<ion-icon name="close-outline"></ion-icon>
					</button>
				</div>
			{% endif %}

			{# Comment creation form #}
			{{form_start(guestbook)}}
				<h2>Un petit commentaire ?</h2>

				{{form_widget(guestbook.author)}}
				{{form_widget(guestbook.message)}}

				<div class="actions">
					{{form_widget(guestbook.submit)}}
				</div>
			{{form_end(guestbook)}}
		</aside>

		{# Secondary title #}
		<h1 class="h1-2">Livre d'or</h1>
	</div>
{% endblock %}